.DS_Store
application/config/development
application/config/production/
application/config/testing/
!application/logs/index.html
application/temp/captcha/*

!application/*/.htaccess
composer.lock
vendor

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/artisan
.vscode

docs/.git

application/third_party/codeigniter-debugbar

index.php
