.DS_Store

application/config/development/
application/config/testing/*
!application/logs/index.html

!application/*/.htaccess
composer.lock
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/artisan
/application/temp/captcha/*