
/* vectors */
vector{
    background-color: #0044cc;
}
.v1{
    background:url('../landing/img/vector/v1.jpg') !important;
}
.v2{
    background:url('../landing/img/vector/v2.jpg') !important;
}
.v3{
    background:url('../landing/img/vector/v3.jpg') 100% 50% no-repeat !important;
}
.v4{
    background:url('../landing/img/vector/v4.jpg') 100% 50% no-repeat !important;
}
.v5{
    background:url('../landing/img/vector/v5.jpg') 100% 50% no-repeat !important;
}
.v6{
    background:url('../landing/img/vector/v6.jpg') 100% 50% no-repeat !important;
}
.v7{
    background:url('../landing/img/vector/v7.png') 100% 50% no-repeat !important;
}